

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
/vendor

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
/web/
!/web/index.php
!/web/.user.ini
!/web/wp-config.php
!/web/app/
!/web/app/uploads/.gitkeep
!/web/app/plugins/.gitkeep

